/* Card Style */
.card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #D3D9DE;
    position: relative;
    max-width: 30%;
    height: auto;
    -webkit-box-shadow: 3px 5px 3px 0px rgba(72, 79, 92,0.75);
    -moz-box-shadow: 0px 5px 3px 0px rgba(72, 79, 92,0.75);
    box-shadow: 0px 5px 5px 3px rgba(72, 79, 92,0.75);
    transition: 0.3s;
    padding: 10px;
    margin: 10px 10px;
    min-width: 400px;
}
.card:hover{
    -webkit-box-shadow: 3px 10px 3px 0px rgba(72, 79, 92,0.75);
    -moz-box-shadow: 3px 10px 3px 0px rgba(72, 79, 92,0.75);
    box-shadow: 3px 10px 5px 3px rgba(72, 79, 92,0.75);
    transition: 0.3s;
    color: #D3D9DE;
}
.container{
    padding: 10px 15px 0px 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;    
    width: 80%vw;
    flex-wrap: wrap;
}

/* Card Contents Style */
.cardLink{
    text-decoration: none;
    color: #363338;
    padding-right: 20px;
}
.cardLink:hover{
    color: #8D999E;
    /* border-bottom: 1px solid #8D999E; */
    /* -webkit-text-stroke: 1px black; */
    text-decoration: underline;
}
.cardText{
    color: #69737A;
}
.ghIcon:hover{
    /* border: 2px groove #D3D9DE; */
    -webkit-box-shadow: 3px 5px 3px 0px rgba(72, 79, 92,0.75);
    -moz-box-shadow: 0px 5px 3px 0px rgba(72, 79, 92,0.75);
    box-shadow: 0px 5px 5px 3px rgba(72, 79, 92,0.75);
}
/* Positioning Github link on top of project image*/
.imageDiv{
    position: relative;
    top: 0;
    left: 0;
    margin: 5px;
}
.projectImage{
    position:relative;
    top: 0;
    left: 0;
    max-width: 128px;
    max-height: auto;
    border-radius: 15%;
    /* width: 90% */
}
.ghIcon{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 70%;
}

/* Grid Layouts */
.projectImage{
    grid-column-start:1;
    grid-column-end: 2;
    padding: 5px;
}
.textDiv{
    grid-column-start:2;
    grid-column-end: 3;
}
.icons{
    grid-column-start: 3; 
    grid-column-end: 4;
}