.skillDiv{
    padding-top: 20px;
}
.skillImg{
    padding: 0px 5px;
    max-width: 100%;
    height: auto;
    opacity: 0.8 !important;
}
.skillImg:hover{
    box-shadow: 2px 4px rgba(72, 79, 92,0.75);
    border: 1px outset rgba(72, 79, 92,0.75);
    border-radius: 40%;
}


/* phones */
@media only screen and (max-width: 480px){
    .skillImg{
        max-width: 64px;
        max-height: 64px;
    }
}
/* tablets */
@media only screen and (max-width: 768px){
    .skillImg{
        max-width: 96px;
        max-height: 96px;
    }
}
/* medium screens */
@media only screen and (max-width: 992px){
    .skillImg{
        max-width: 128px;
        max-height: 128px;
    }

}

